{% extends 'layout.html.twig' %}


{% block body %}
<div id="page-content">
    <div id="page-content-header" class="container_24">
        <div id="page-title">
            <h2>{% block contenttitle %}{% endblock %}</h2>
        </div>
        <div class="no-breadcrumbs-padding"></div>
    </div>
    <div id="content-container" class="page-content container_24">
      <div id="main-content" class="grid_16">
        <div class="main-content-padding">
          {% block content %}{% endblock %}
          <div class="clear"></div>
        </div>{# end main-content-padding #}
      </div>{# end main-content #}
      <div id="sidebar" class="grid_8">
        <div id="sidebarSubnav"><div id="ngg-images-5" class="widget ngg_images substitute_widget_class">
            <div class="hslice" id="ngg-webslice">
                <h3 class="entry-title widgettitle">{{ 'title.gallery'|trans }}</h3>
                <div class="ngg-widget entry-content">
                {% spaceless %}
                {% block sidebar %}
                    {% for image in gallery %}
                        {% include 'inc/gallery-image.html.twig' with {'image': image} only %}
                    {% endfor %}
                {% endblock %}
                {% endspaceless %}
                </div>
            </div>
        </div>
      </div>
    </div>{# end page-content #}
</div>
{% endblock %}