{% extend 'layout.html.twig' %}


{% block body %}
<div id="home-page-content" class="container_24">
  <div id='cont-box-1' class='column_1_of_3 home-cont-box'>
    {% block box1 %}{% endblock %}
  </div>{# end cont-box-1 #}
  <div id='cont-box-2' class='column_1_of_3 home-cont-box'>
    {% block box1 %}{% endblock %}
  </div>{# end cont-box-2 #}
  <div id='cont-box-3' class='column_1_of_3 home-cont-box'>
    {% block box1 %}{% endblock %}
  </div>{# end cont-box-3 #}
</div>{# end page-content #}
{% endblock %}