<h3 class="bottom-col-title">Menu</h3>
<div class="menu-menu-footer-container">
  <ul id="menu-menu-footer" class="menu">
    <li id="menu-item-248" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-248">
      <a href="qui-sommes-nous">Qui sommes nous ?</a>
    </li>
    <li id="menu-item-249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-249">
      <a href="assurance">Assurance</a>
    </li>
    <li id="menu-item-250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-250">
      <a href="le-materiel">Le matériel</a>
    </li>
    <li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251">
      <a href="activites">Activités</a>
    </li>
    <li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-252">
      <a href="trajets-et-carte">Trajets et Carte</a>
    </li>
    <li id="menu-item-253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-253">
      <a href="200-2">Google Localisation</a>
    </li>
    <li id="menu-item-254" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-254">
      <a href="partenaire">Partenaire</a>
    </li>
    <li id="menu-item-255" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-255">
      <a href="tarifs">Tarifs</a>
    </li>
  </ul>
</div>