<h3 class="bottom-col-title">Contact</h3>
<div class="textwidget">
  <p>Déjà au Cap Vert ? sur l’île de Sal ?<br />
    Retrouvez nous à côté du ponton de <span style="color: #33a0d6;">Santa Maria</span>, sur la plage<br />
    de l’hôtel MORABEZA. </p>
  <p>Renseignements et réservation Odisseia center Santa Maria Pontao face hotel Morabeza - Ilha do Sal.</p>
  <p>Tél :<span style="color: #33a0d6;"><strong> +238 974 36 46</strong></span></p>
  <p>Mail :  <span style="color: #33a0d6;"><a href="mailto:zebrajet@voila.fr"><em>zebrajet@voila.fr</em></a></span></p>
</div>