<ul id="menu-home-menu" class="sf-menu">
  <li id="menu-item-440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-440">
    <a href="http://zebrajet.loc/about-us-2/"><span>About us</span></a>
    <ul class="sub-menu">
      <li id="menu-item-402" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402">
        <a href="assurance-2/"><span>Insurance</span></a>
      </li>
      <li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403">
        <a href="material/"><span>Material</span></a>
      </li>
    </ul>
  </li>
  <li id="menu-item-441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-441">
    <a href="activites-2/"><span>Activites</span></a>
    <ul class="sub-menu">
      <li id="menu-item-405" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-405">
        <a href="trips/"><span>Trips</span></a>
      </li>
      <li id="menu-item-406" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-406">
        <a href="oogle-location/"><span>Google Location</span></a>
      </li>
    </ul>
  </li>
  <li id="menu-item-407" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-407">
    <a href="partners-2/"><span>Partners</span></a>
  </li>
  <li id="menu-item-414" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-414">
    <a href="price-list/"><span>Price list</span></a>
  </li>
  <li id="menu-item-1032" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1032">
    <a href="gallery-4/"><span>Gallery</span></a>
  </li>
  <li id="menu-item-643" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-643">
    <a href="contact-2/"><span>Contact</span></a>
  </li>
</ul>