{% spaceless %}
<ul>
  <li>
    <a href="https://plus.google.com" class="nav-rss" title="Google +">
      <img src="/assets/common-images/log_googleplus.png" alt="Google +" />
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/profile.php?id=100002442336456" class="nav-rss" title="Facebook">
      <img src="/assets/common-images/ico_facebook.png" alt="Facebook" />
    </a>
  </li>
  <li>
    <a href="http://www.twitter.com" class="nav-rss" title="Twitter">
      <img src="/assets/common-images/ico_twitter.png" alt="Twitter" />
    </a>
  </li>
</ul>
{% endspaceless %}