{% extends 'layout-page.html.twig' %}



{% block content %}
    <p><span class="brand-color">Zebrajet</span> a été créée au Cap Vert en 2008 par Maï et Vincent tous 2 professionnels du jet ski depuis plus de 12 ans.</p>
    <p> Après avoir travaillé pour le compte d’investisseurs en Guadeloupe, et au Sénégal, décision fut prise d’ouvrir à leur propre compte une structure de taille familiale répondant au mieux aux normes de sécurité exigées par leur nombreux partenaires hôteliers et tour opérateur.</p>
    <p>Ce sont les eaux turquoise de l’île, la variété des conditions de navigation et l’accueil particulièrement chaleureux des cap verdiens qui ont séduits ces 2 moniteurs diplômés de la Fédération Française de Motonautisme.</p>
    <p>Et voici comment Zebrajet a fini par poser ses bagages au Ponton de Santa Maria, à l’hôtel Morabeza, sur la plus belle plage de l’île de Sal !!!</p>
    <p>Zebrajet travaille également en partenariat étroit avec les autorités maritimes locales.</p>
    <p>Les expériences professionnelles de Vincent dans le domaine de la sécurité et intervention en mer (ancien pompier de Paris et responsable de la sécurité sur les épreuves du championnat du monde de jet ski)  font de lui un moniteur encadrant très attentif quand au bon déroulement des activités nautiques.</p>
    <p>Soucieux de la qualité des prestations proposées, le matériel est choisi avec soin, ainsi le choix de zebrajet s’est porté sur des Yamaha VX 110 qui sont renouvelés régulièrement.</p>
    <p>Avant chaque départ en jet ski, après avoir été équipé, Maï et Vincent vont bien vous expliquer le fonctionnement de vos machines, et les règles de sécurité en mer,  c’est très facile et les sensations sont garanties.</p>
    <p>Alors vous êtes prêts à découvrir le Cap Vert par la mer ???</p>
    <p>Rejoignez nous vite !!!!!</p>
{% endblock %}
