{% extends 'layout-page.html.twig' %}



{% block content %}
    <p><span class="brand-color">BOOSTEZ VOTRE ADRENALINE tout en découvrant les côtes capverdiennes et sa faune aquatique : DAUPHINS, BALEINES, TORTUES, POISSONS VOLANTS……seront peut-être au rendez-vous !!!</span></p>

    <p><strong>Une formidable aventure à vivre en famille.</strong></p>

    <p>Vous avez entre 7 et 77ans ou plus ? Vous êtes tous les bienvenus !<br>
    Les enfants mineurs doivent être accompagnés d’un adulte responsable et pourront même faire un essai de pilotage.</p>

    <p><strong>Vous n’avez jamais conduit de jet ski ? Pas de problème !</strong></p>

    <p>Nous vous expliquerons tout le fonctionnement de votre engin, c’est très facile et très sur.<br>
    Il ne vous reste plus qu’à vous laisser guider le long des côtes par votre moniteur qui ajustera sa vitesse en fonction de vous.</p>

    <p><strong>Vous êtes un pilote confirmé en soif de sensations ? Vous aimez la conduite sportive ?</strong></p>

    <p>Dans ce cas nos parcours seront adaptés en fonction de votre demande, la côte sous le vent ou « Costa da Fragata », avec ses paysages sauvages de plages désertes et de falaises abruptes où déferle la longue houle atlantique, vous comblera !!!</p>
{% endblock %}
