{% extends 'layout-page.html.twig' %}



{% block content %}
    <div class="googlemaps googlemaps--minify shadow">
        <a href="https://www.google.fr/maps/place/16%C2%B035%2751.3%22N+22%C2%B054%2729.4%22W/@16.597576,-22.90818,337m/data=!3m2!1e3!4b1!4m2!3m1!1s0x0:0x0" target="_blank" title="Regarder sur google maps">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=santa-maria+sal+capo+verde&amp;zoom=5&amp;size=550x550&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:C%7C16.597576,-22.908180" alt=""></a>
    </div>
{% endblock %}


