{% extends 'layout-page.html.twig' %}



{% block content %}
    <p><strong>YAMAHA, VX 110, 1100 cm3, 4 STROKE</strong></p>

    <p><img src="/assets/gallery/p5070001.jpg"></p>
    <p><img src="/assets/gallery/p5100030.jpg"></p>
    <p><img src="/assets/gallery/p5100039.jpg"></p>
{% endblock %}



